.card {
    flex-grow: 1;
    border: 2px solid black;
    margin-bottom: 1vh;
    display: flex;
    flex-direction: column;
    width: 95%;
}
.date{
    text-align: right;
    margin: 1%;
}
.container {
    margin-left: 1vw;
}