.container{
    display: grid;
    grid-template: "a b c "
                    "d d c";
}
.sectionA{
    width: 10vw !important;
}
.sectionB{
    width: 10vw !important;
}
.sectionC{
    width: 10vw !important;
}
.sectionD{
}