.blessings-container{ 
    display: flex;
    flex-direction: column;
    max-height: 60vh;
    overflow-y: scroll;
}
.blessings-screen-header{
    text-align: center;
}
.blessings-screen-toolbar {
 display: flex;   
}