.bar{
    width: 100%;
    background-color: rgb(84, 105, 212);
    height: 6vh;
    color: #FFF;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.logo{
    font-weight: 500;
    margin: 0 1rem;
}

.button{
    margin-right: 0.5vw;
    height: 80%;
}